.profile-container {
  width: 250px;
  height: 250px;
  overflow: hidden; /* Hides overflow when zooming */
  border-radius: 50%; /* Makes the image circular */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Optional: adds a shadow */
}

.profile-pic {
  width: 300px;
  height: 300px;
  object-fit: cover; /* Ensures the image covers the container */
  object-position: bottom;
  position: relative;
  right: 10px;
}
