<section class="profile-section">
  <div class="profile-container">
    <img class="profile-pic" src="mypics/photo2.jpg" alt="Profile Picture" />
  </div>
</section>
<section class="hero--container">
  <div class="hero">
    <div class="grid hero__content">
      <h1 class="hero__heading">Hi, I'm Homayoon</h1>
      <h2>A Passionate Front-End Junior</h2>
      <p class="hero--paragraph">
        I'm constantly learning and honing my skills to craft clean, responsive,
        and interactive web experiences. Seeking new opportunities to bring
        creativity and code together.
      </p>
      <a href="#contact" class="btn btn--hero btn--streched">Let's Connect</a>
    </div>
  </div>
</section>
