    <div class="skill-container">
      <h2>Skills</h2>

      <div class="skill-bar">
        <div class="skill-title">HTML</div>
        <div class="progress-bar">
          <div class="progress html-skill">90%</div>
        </div>
      </div>

      <div class="skill-bar">
        <div class="skill-title">CSS</div>
        <div class="progress-bar">
          <div class="progress css-skill">80%</div>
        </div>
      </div>

      <div class="skill-bar">
        <div class="skill-title">JavaScript</div>
        <div class="progress-bar">
          <div class="progress js-skill">70%</div>
        </div>
      </div>
    </div>